// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #159957 !default;
$header-bg-color-secondary: #155799 !default;

// Text
$section-headings-color: #159957 !default;
$body-bg-color: #333 !default;
$body-text-color: #eee !default;
$body-link-color: rgb(0, 120, 215) !default;
$blockquote-text-color: #323a3d !default;

// Code
$code-bg-color: rgb(30, 30, 30) !default;
$code-text-color: #cedde4 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #777 !default;

$ms-blue: rgb(0, 120, 215) !default;
$ms-lightblue: rgb(0, 188, 242) !default;
$ms-darkblue: rgb(0, 24, 143) !default;
$ms-lightgreen: rgb(186, 216, 10) !default;
$ms-lightgrey: #ccc !default;
$ms-midgrey: #555 !default;
$ms-darkgrey: #444 !default;
$ms-vdarkgrey: #222 !default;
